{% extends 'base.html.twig' %}

{% block title %}Import your csv file to database{% endblock %}

{% block body %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('notifications') }}
    <div class="container">
        {% if productPath is empty %}
            {% set productPath = 'test' %}
        {% endif %}
        <div id="ajax-results"></div>
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {{ form(form) }}
        <br>
        <h2>{% trans %}List of Products{% endtrans %}</h2>
        <table>
            <tr>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Stock</th>
                <th>Cost in GBP</th>
                <th>Discontinued</th>
                <th>Category</th>
            </tr>
            {% for product in productsView %}
                <tr>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productDescription }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.cost }}</td>
                    <td>{{ product.discontinued }}</td>
                    <td>{{ product.category.name }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(productsView) }}
        </div>
    </div>
{% endblock %}