{% extends 'base.html.twig' %}

{% block title %}Import your csv file to database{% endblock %}

{% block body %}
    <div id="flash-messages">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage|trans|raw|nl2br }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage|trans|raw|nl2br }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info">
                <button class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage|trans|raw|nl2br }}
            </div>
        {% endfor %}
    </div>

    <div class="container">
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {{ form(form) }}
        <br>
        <h2>{% trans %}List of Products{% endtrans %}</h2>
        <table>
            <tr>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Stock</th>
                <th>Cost in GBP</th>
                <th>Discontinued</th>
            </tr>
            {% for product in productsView %}
                <tr>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productDescription }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.cost }}</td>
                    <td>{{ product.discontinued }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(productsView) }}
        </div>
    </div>
{% endblock %}